@model List<DDV.Models.DropDataGlobal>

@{
    Dictionary<string, KeyValuePair<string, string>>? itemXmlData = ViewData["itemXmlData"] as Dictionary<string, KeyValuePair<string, string>>;
}

<h1>Drop Data Global</h1>
<table class="table">
    <thead>
        <tr>
            <th>@Html.ActionLink("ID", "Index", new { sortOrder = ViewBag.IdSortParm })</th>
            <th>Continent</th>
            <th>@Html.ActionLink("Item ID", "Index", new { sortOrder = ViewBag.ItemIdSortParm })</th>
            <th>Item</th>
            <th>Min Qty</th>
            <th>Max Qty</th>
            <th>Quest ID</th>
            <th>@Html.ActionLink("Chance", "Index", new { sortOrder = ViewBag.ChanceSortParm })</th>
            <th>1 In</th>
            <th>Comments</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var dropData in Model)
        {
            <tr>
                <td>@dropData.Id</td>
                <td>@dropData.Continent</td>
                <td><a href="@Url.Action("Detail", "Item", new { itemId = dropData.ItemId })">@dropData.ItemId</a></td>
                @if (itemXmlData != null && itemXmlData.ContainsKey(dropData.ItemId.ToString()))
                {
                    @if (itemXmlData[dropData.ItemId.ToString()].Key != string.Empty)
                    {
                        <td>@itemXmlData[dropData.ItemId.ToString()].Key</td>
                    }
                    else
                    {
                        <td>-</td>
                    }
                }
                else
                {
                    <td>-</td>
                }
                <td>@dropData.Minimum_Quantity</td>
                <td>@dropData.Maximum_Quantity</td>
                <td>@dropData.QuestId</td>
                @{
                    decimal percent = (decimal)dropData.Chance / 1000000 * 100;
                    decimal count = 0;
                    if (percent > 0)
                    {
                        count = 100 / percent;
                    }
                }
                <td>@dropData.Chance.ToString("###,###,###,###") (@percent.ToString("G29")%)</td>
                <td>@count.ToString("###,###,###,###.###")</td>
                <td>@dropData.Comments</td>
            </tr>
        }
    </tbody>
</table>
